/* banner part */
* {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url('../resources/Banner.png');
    height: 80vh;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 50px;
}

.banner-des {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.banner-title {
    padding-top: 200px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

/* discount */
.discount {
    text-align: center;
    margin: 80px;
}

.discount-65 {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 80px;
}

.discount-title {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-des {
    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}

/* midnight styles */
.midnight {
    background-image: url('../resources/Vectorrr.png');
    height: 70vh;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 120px;
}

.midnight-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.midnight-content-column {
    padding: 126px;
}

.midnight-content-title {
    color: #FFF;
    width: 642px;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}

.midnight-content-des {
    color: rgb(255, 255, 255);
    width: 697px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.midnight-image {
    padding-top: 67px;
    padding-right: 138px;
}

.midnight-btn {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: rgba(255, 0, 0, 0.699);
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border: none;
}

/* address style */
.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 60px auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.add-title {

    padding-top: 100px;
}

.adderss-title {
    text-align: center;
    line-height: 2em;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 28px;
}

.add-btn {
    padding-bottom: 100px;
}

.address-btn {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border: none;
}

/* offer styles */
.offer {
    width: 70%;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-column-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-column-title2 {
    color: #F00;

    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.offer-column-subtitle {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.offer-column-des {
    color: rgba(7, 2, 17, 0.60);
    width: 393px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 43px;
}

.offer-img {
    padding: 25px;
    border-radius: 463px;
    border: 10px solid #FF0000;
}
/* holiday style */
.holiday{
    width: 70%;
    margin: 120px auto;
}
.holiday-title{
    margin-top: 50px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
}
.holiday-title2{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    margin-bottom: 28px;
}
.holiday-des{
    color: rgba(7, 2, 17, 0.60);
    width: 1068px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.holiday-image{
    width: 70%;
    margin: 120px auto;
    background-image: url('../resources/Rectangle 1.png');
    background-repeat: no-repeat;
    height: 50vh;
    background-position: right;
    margin-bottom: 0;
}

.offers{
    position: relative;
    top: 70px;
    left: 750px;

}
.holiday-image2{
    width: 70%;
    background-image: url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    height: 50vh;
    margin-left: 298px;
    margin-right: auto;

}
.offer2{
    position: relative;
    top: -420px;
    right: 50px;

}

/* gift part */
.gift {
    width: 70%;
    margin: 120px auto;
}

.gift-title {
    color: #F00;

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.gift-add {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.gift-des {
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
}

.gift-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
}

.gift-images {
    width: 100% auto;
}

.gift-images img {
    transition: all 0.3s ease;
}

.gift-container :hover img {
    transform: scale(1.1);
}

/* subscribe style */
.subscribe {
    width: 70%;
    margin: 120px auto;
    background-color: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 80px 212px;
}

.subscribe-flex {
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 0;
    margin-bottom: 40px;
}

.subscribe-title {
    color: #070211;
    margin-top: 40px;
    margin-bottom: 22px;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.subscribe-des {
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 48px;
}

.subscribe-input {
    border: none;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 267px 25px 30px;
}

.subscribe-btn {
    border: none;
    background: #F00;
    border-radius: 0px 50px 50px 0px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 56px;
}

/* footer style */
.footer-begin {
    background-color: #070211;
}

.footer-first-flex {
    display: flex;
    padding-top: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-column,
.footer-column2 {
    padding-top: 120px;
}

.footer-column3{
    display: flex;
    gap: 15px;
}
.footer-title {
    color: #FFF;
    width: 375px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.footer-column2 {
    display: flex;
    flex-direction: column;
}

.hr-style , .hr-style2 {
    color: rgba(255, 255, 255, 0.15);
    width: 80%;
    margin: 50px auto;
    height: 1px;
}
.hr-style2{
    margin-bottom: 80px;
}

.footer-icons {
    text-align: center;
}

.footer-img {
    margin-right: 25px;
}

.unsubscribe {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;
    justify-content: space-between;

}

.unsubscribe-title {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}