/* banner part */
* {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url('../resources/Banner.png');
    height: 80vh;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 50px;
}

.banner-des {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.banner-title {
    padding-top: 200px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

/* discount */
.discount {
    text-align: center;
    margin: 80px;
}

.discount-65 {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 80px;
}

.discount-title {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-des {
    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}
/* midnight styles */
.midnight{
    background-image: url('../resources/Vectorrr.png');
    height: 70vh;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 120px;
}
.midnight-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.midnight-content-column{
    padding: 126px;
}
.midnight-content-title{
    color: #FFF;
    width: 642px;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}
.midnight-content-des{
    color: rgba(255, 255, 255, 0.80);
    width: 697px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}
.midnight-image{
    padding-top: 67px;
    padding-right: 138px;
}